/* --- Semantic Elements --- */

html {
  font-family: Georgia;
  font-size: 17px;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px 40px;
}

header span {
  padding: 0 10px;
}

nav {
  display: inline-block;
  align-items: center;
}

nav a {
  color: black;
}



/* --- Classes --- */

.logo {
  color: MediumAquamarine;
  align-items: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
  margin: 20px;
}

.jus-between {
  justify-content: space-between;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.story {
  margin: 10px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.story-text {
  margin: 20px 0 40px 0;
}

.text-img {
  color: white;
  align-items: center;
  height: 300px;
  align-content: center;
}

.center {
  text-align: center;
}

.half {
  display: flex;
  width: 50%;
}

.news-bites {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.small p span {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 15px;
  border-bottom: 1px solid black;
}

/* --- IDs --- */

#body-main {
  margin-top: 40px;
  justify-content: center;
}

#story-main {
  flex-direction: column;
}

#story-main .text-img {
  background-image: url("img/img-story-main.png");
  font-size: 40px;
  padding: 0 20px;
}

#story1 {
  background-image: url("img/img-story-1.png");
  height: 300px;
}

#story2 {
  background-image: url("img/img-story-2.png");
  height: 300px;
}

#story3 {
  background-image: url("img/img-story-3.png");
  height: 300px;
}
